:root {
  --green: #77d970;
  --blue: #172774;
  --yellow: #d7d970;
  --transparent: rgba(238, 238, 238, 0.35);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blue);
  font-family: Roboto, sans-serif;
}
a {
  color: #000;
  text-decoration: none;
}
li {
  list-style: none;
}

/* Header */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 23px 104px;
}
.back-btn {
  width: 81px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  color: #fff;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.searchbar {
  width: 561px;
  height: 49px;
  padding: 14px 25px;
  border: 1.5px solid #000;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}
.page-title {
  color: var(--green);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.1875rem;
  font-weight: 900;
}
.page-title .my {
  color: var(--blue);
}

/* Main */
.main {
  display: flex;
  justify-content: center;
  padding: 40px 104px;
}
.container {
  display: grid;
  grid-template-columns: 3fr 7fr 2fr;
  column-gap: 25px;
  color: #fff;
}
.movie-poster {
  width: 100%;
  border-radius: 10px;
}
.movie-title {
  margin-bottom: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
.movie-actor-director {
  display: grid;
  grid-template-columns: 4fr 3fr;
  margin-bottom: 15px;
  font-size: 0.875rem;
  font-weight: 500;
}
.plot,
.details {
  margin-bottom: 15px;
  font-size: 0.875rem;
}
.details li {
  margin-bottom: 14px;
}

/* Rating */
.rating {
  display: flex;
  flex-direction: column;
}
.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--transparent);
  padding: 20px 0 27px;
  border-radius: 7px;
  margin-bottom: 25px;
  box-shadow: 0px 8px 32px #000c48;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
.rating-imdb {
  height: 150px;
  color: var(--green);
}
.rating-metacritic {
  height: 133px;
  color: var(--yellow);
}
.rating-imdb img {
  width: 89px;
}
.rating-metacritic img {
  width: 127px;
}
